/* Write CSS code here */
body{
    margin-left: 500px;
    margin-top: 100px;
}
.d1{
    display: inline-block;
    border: solid;
    border-color: white;
    height: 800px;
    width: 700px;
    box-shadow: 5px 5px 5px 5px  rgb(184, 184, 184);
}
.s1{
    float:left;
}

.icon{
    font-size: 100px;
    float: left;
    margin-right: 10px;
}
h3{
    font-size: 70px;
}
h6{
    font-size: 30px;
    color: grey;
    position: relative;
    left: 85px;
    bottom: 80px;
}
img{
    width: 700px;
    height: 300px;
    position: relative;
    bottom: 120px;
}
a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
    position: relative;
    bottom: 100px;
}
.ion-android-favorite{
    font-size: 30px;
    color: grey;
    float: right; 
    margin-left: 10px;  
    position: relative;
    right:40px;
    bottom:130px ;
}
.ion-android-share-alt{
    font-size: 30px;
    color: grey;
    float: right;
    margin-left: 10px;
    position: relative;
    right:30px;
    bottom:130px ;
}
p{
    color: rgb(103, 102, 102);
    font-size: 35px;
    position: relative;
    bottom: 120px;
}
